@{
    ViewData["Title"] = "RoleUpdate";
}

@model AdminModel.RoleUpdateViewModel

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2 class="text-center mb-3">Rol Oluşturma</h2>
        @if (ViewData["SuccessMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                @ViewData["SuccessMessage"]
            </div>
        }
        <form asp-action="RoleUpdate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />

            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-outline-warning" asp-action="Index">Rol listesine geri dön</a>
                </div>
                <div class="col-md-6 form-group text-end">
                    <input type="submit" value="Güncelle" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

