@{
    ViewData["Title"] = "Claims";
}

@model List<ClaimViewModel>

<h2 class="text-center mb-3">Claim Liste</h2>

<div class="row">
    <div class="col-md-10 offset-md-1">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Issuer</th>
                    <th>Type</th>
                    <th>Value</th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Issuer</td>
                        <td>@item.Type</td>
                        <td>@item.Value</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>